---
import Container from "@/components/container.astro";

const menuitems = [
  { title: "What’s included", path: "#included" },
  { title: "Recent work", path: "#work" },
  { title: "Get in touch", path: "#contact" },
];
---

<Container>
  <header class="my-6">
    <div class="mx-auto max-w-3xl flex items-center justify-between">
      <!-- Brand -->
      <a href="/" class="text-lg font-semibold text-slate-800">
        South Line Studio
      </a>

      <!-- Navigation -->
      <nav>
        <ul class="flex items-center gap-4">
          {menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="text-sm text-slate-600 hover:text-slate-900"
              >
                {item.title}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </header>
</Container>
